@font-face {
  font-family: "Avenir";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/avenir-400.woff2") format("woff2");
  font-display: swap;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.65;
  color: #373f49;
  background: linear-gradient(130deg, #fe9741, #fe91d3);
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3 {
  font-size: 2em;
  font-weight: normal;
}

a {
  color: currentColor;
}

.apply-link {
  background: #f3a452;
  border-radius: 12px;
  color: #fff;
  display: inline-flex;
  font-weight: bold;
  margin: 0 auto;
  align-items: center;
  padding: 12px 32px;
  text-decoration: none;
  box-shadow: 0 0px 9px 1px rgba(243, 164, 82, 0.4);
}
.apply-link:hover {
  background: #fceaf6;
  box-shadow: 0 0px 9px 1px rgba(243, 164, 82, 0.8);
  color: #f3a452;
  transition: box-shadow 0.3s ease-in-out;
}
