.heroImage {
  min-height: 100vh;
  height: 100%;
  position: relative;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.heroImage::before {
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0.55;
  position: absolute;
  background: #000;
}

.heroInner {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  position: relative;
}

.logo {
  width: 200px;
  width: clamp(160px, 40%, 240px);
}
.logo > object {
  margin-top: 8vh;
  width: 100%;
}

.heroImage {
  /*
    Ensure golden ratio for the hero size while limiting it to some extend to
    the viewport width
  */
  height: 61.8vh;
  max-height: 400px;
}

.heroDetails {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  font-size: 14px;
  padding: 0 0.5em;
}

@media (min-width: 600px) {
  .heroDetails {
    font-size: 16px;
  }
}

@media (min-width: 1000px) {
  .heroDetails {
    font-size: 20px;
  }
}

.heroHeadline {
  margin: 0;
}

.heroTitle {
  margin: 0;
  font-size: 1.125em;
  font-weight: bold;
}

.video {
  overflow: hidden;
  position: relative;
  margin: 60px 30px 0;
  max-width: 720px;
  width: 100%;
}

.video::after {
  padding-top: 56.25%;
  display: block;
  content: "";
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.givebutter {
  display: flex;
  justify-content: center;
}

.heading {
  color: #fff;
  margin: 40px auto 20px;
  text-align: center;
}
