.page {
  padding: 20px 40px;
  background: rgb(255 255 255 / 75%);
  border-radius: 20px;
  max-width: 800px;
  margin: 20px auto;
}
.page p,
.paragraph {
  font-size: 20px;
  margin: 12px 0 0;
}
.page h2,
.pageHeading2 {
  margin: 20px 0 0;
}
.page img,
.image {
  max-width: 720px;
  width: 100%;
  height: auto;
  margin: 16px auto 0;
}

.iframe {
  margin-top: 16px;
}

.heroTitle {
  margin: 0;
  font-size: 1.125em;
  font-weight: bold;
}

.video {
  overflow: hidden;
  position: relative;
  margin: 0;
  max-width: 720px;
  width: 100%;
}

.video::after {
  padding-top: 56.25%;
  display: block;
  content: "";
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
